<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">Export notes as CSV</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="#">Exit</a>
        </li>
    </ul>
</div>